html {
    background-color: #EEFEEB;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FCF7F7;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;    
    color: #8F191B;
    text-shadow: 2px 1px 1px black;
}
img {
    display: block;
    margin: 0 auto;
}
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
}